<p>{{header}}</p>
<form>
    <input type="text" ng-model="afc.newEmployee.Name" placeholder="Name">
    <input type="integer" ng-model="afc.newEmployee.ID" placeholder="ID">
    <input type="text" ng-model="afc.newEmployee.Title" placeholder="Job Title">
    <input type="date" ng-model="afc.newEmployee.HireDate" placeholder="Hire Date">
    <input type="integer" ng-model="afc.newEmployee.Salary" placeholder="Salary">
    <button type="button" ng-click="afc.sendEmployees(afc.newEmployee)">Add Employee</button>
</form>