<p>{{header}}</p>

<table>
    <thead>
        <th>Name</th>
        <th>ID</th>
        <th>Title</th>
        <th>Hire Date</th>
        <th>Salary</th>
        <th>Delete</th>
        <th>Edit</th>
    </thead>
    <tr ng-repeat="employeeReceived in tc.employeeArray.list">
        <td>{{employeeReceived.Name}}</td>
        <td>{{employeeReceived.ID}}</td>
        <td>{{employeeReceived.Title}}</td>
        <td>{{employeeReceived.HireDate}}</td>
        <td>{{employeeReceived.Salary}}</td>
        <td><button type="button" ng-click="tc.deleteEmployee(employeeReceived._id)">Delete</button></td>
        <td><button type="button">Edit</button></td>
    </tr>
</table>